<!-- Nav Bar -->
<div class="flex justify-between bg-gray-600 bg-emerald-500 items-center px-4">
    <div>
        <h1 class="px-5 font-bold">Chris Kruki</h1>
    </div>
    <div class="nav-buttons">
        <a href="">About</a>
        <a href="">Projects</a>
        <a href="">Contact</a>
    </div>
</div>