<!-- Nav Bar -->
<div class="flex justify-between bg-emerald-500 items-center p-5 shadow-xl">
    <div>
        <h1 class="px-5 font-bold text-lg">&lt Chris Kruki &gt</h1>
    </div>
    <div class="nav-buttons text-lg">
        <a href="">About</a>
        <a href="">Projects</a>
        <a href="">Contact</a>
    </div>
</div>