<!-- Nav Bar -->
<div class="top-area">
    <div>
        <h1 class="pl-5">Chris Kruki</h1>
    </div>
    <div class="nav-buttons">
        <a href="">About</a>
        <a href="">Projects</a>
        <a href="">Contact</a>
    </div>
</div>