<!DOCTYPE html>
<html>
    <head>
        <title>Chris Kruki</title>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/nav.ejs') %>
        
        <!-- Main Area -->
        <p> About!</p>
    </body>
</html>
