<!DOCTYPE html>
<html>
    <head>
        <title>Chris Kruki</title>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/nav.ejs') %>
        
        <!-- Main Area -->
        <div class="flex flex-col p-5">
            <section>
                Hi, I'm chris!
            </section>
        </div>
    </body>
</html>
