<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head.ejs') %>

        <title>Chris Kruki</title>
        <script src="js/main.js"></script>
    </head>
    <body style="margin: 0px;">
        <%- include('partials/nav.ejs') %>
        
        <!-- Main Area -->
        <div id="main-area" style="text-align: center;">
            <div style="display: flex; flex-direction: column; justify-content: center;">
                <!-- <img id="portrait-img" src="img/chris.jpeg"> -->
            </div>
        </div>
        <div id="move_div">
        </div>
    </body>
</html>
