@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #414a4c;
    font-family: 'Raleway', serif;
}


.nav-buttons > a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Raleway', serif;
    color: white;
    margin: 5px;
    transition: 0.3s;
}

.nav-buttons > a:hover {
    color: rgb(141, 141, 141);
}


.smooth-button {
    background-color: lightskyblue;
    border-color: black;
    border-radius: 2px;
    transition: 0.3s;
}

.smooth-button:hover {
    background-color: rgb(98, 151, 184);
    cursor: pointer;
}